
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
<div class="jumbotron">
<center><h1>Animal Shelter</h1><center>
</div>





<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href='/pet/new'>Add a new pet</a></li>


  </ol>
</nav>
