@* <h1>Add a new item to @Model.GetName()</h1> *@

<form action='/pet' method='post'>
  <label for='petName'>Pet name</label>
  <input id='petName' name='petName' type='text'>
  <label for='petSex'>Pet sex</label>
  <input id='petSex' name='petSex' type='text'>
  <label for='petType'>Pet type</label>
  <input id='petType' name='petType' type='text'>
  <button type='submit'>Add pet</button>
</form>
