@* <h1>Add a new item to @Model.GetName()</h1> *@

<form action='/pet' method='post'>
  <label for='petName'>Pet name</label>
  <input id='petName' name='petName' type='text'><br>
  <label for='petSex'>Pet sex</label>
  <input id='petSex' name='petSex' type='text'><br>
  <label for='petType'>Pet type</label>
  <input id='petType' name='petType' type='text'><br>
  <label for='petDate'>Date of admittance</label>
  <input id='petDate' name='petDate' type='date'><br>
  <label for='petBreed'>Pet breed</label>
  <input id='petBreed' name='petBreed' type='text'><br>
  <button type='submit'>Add pet</button>
</form>
